.section3{
    background: black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    &__image{
        width: 600px;
    }
    &__info{
        padding: 50px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 2.5rem;
            margin-bottom: 50px;
        }
        p{
            color: darkgray;
            font-size: 1rem;
            line-height: 200%;
        }
    }
}