@use "Header1/Header1.scss";
@use "Footer/Footer.scss";
@use "Hero/Hero2/Hero2.scss";
@use "Hero/Hero1/Hero-Header.scss";
@use "Hero/Hero3/Hero3.scss";

* {
  $blue: #3ea0d9;
  $indigo: #4f63d9;
  $lavender: #9dabff;
  $cyan: #94e5fd;
  $purple: #9c67ef;
  $navy: #124273;
  $pink: #d886fc;
  $lightGrey: #f5f5f5;
}
