@use "variables";
.about {
  padding: 100px 0;
  .container {
    height: auto;
    padding: 100px 0 0px;
  }
  &__story {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    // width: 80%;
    margin: 0 auto;
    h1 {
      color: variables.$navy;
      margin-bottom: 50px;
    }
    p {
      margin-bottom: 30px;
      color: variables.$navy;
      line-height: 160%;
      font-size: 1rem;
    }
  }
  &__teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
    h1 {
      color: variables.$navy;
      margin-bottom: 80px;
    }
  }
  &__team {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
  }
  &__person {
    h4 {
      color: variables.$navy;
      font-size: 1.5rem;
      text-transform: none;
      margin-bottom: 10px;
    }
    p {
      color: variables.$navy;
    }
  }
  &__img {
    background: variables.$indigo;
    border: 10px solid variables.$lavender;
    height: 225px;
    width: 225px;
    border-radius: 50%;
    margin-bottom: 40px;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .about {
    &__story {
      width: 100%;
    }
    &__team {
      flex-wrap: wrap;
      gap: 100px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
