$blue: #3ea0d9 !global;
$indigo: #4f63d9 !global;
$lavender: #9dabff !global;
$cyan: #94e5fd !global;
$purple: #9c67ef !global;
$navy: #124273 !global;
$pink: #d886fc !global;
$lightGrey: #f5f5f5 !global;
